<!--Group 3-5
Authors: Nate Shaw, Zack Bagley, Caleb Gooch, Eli Baker-->
<!--This page renders after someone has filled out a survey-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />
    <script src="scripts.js"></script>
</head>
<body onload="changeNav()" onresize="changeNav()">
    <div id="navBar" class="fullPageNav" onclick="toggle()"><!--header div-->
        <nav id="homeLink"><a href="/"><span id="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav id="navMenu" class="navPages"><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
            <a href="resources">Resources</a>
        </nav>
    </div>
    <div class="pageBody">
        <h1 class="head">Thank You For Taking Our Survey!</h1>
        <br>
        <!--This form routes to the landing page-->
        <form action="/" method="get" class="form-container">
            <button type="submit" style="width: 100%;">Return To Homepage</button>
        </form>
        <br>
        <!--This form routes to the dashboard-->
        <form action="/dashboard" method="get" class="form-container">
            <button type="submit" style="width: 100%;">View Dashboard</button>
        </form>
    </div>
</body>
</html>