<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provo Mental Health Project</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="pageHeader"><!--header div-->
        <nav class="homeLink"><a href="/"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
            <a href="resources">Resources</a>
        </nav>
    </div>
    <div id="landingWelcome">
        <div style="width: 100%; height: 50%;">
            <img class="intexBackgroundImg" style="float: right; border-radius: 0vw 0vw 0vw 10vw;" src="fisher.jpg">
            <h1 class="head" style="float:left;" id="intexBanner">Welcome to the Provo Mental Health Project</h1>
        </div>
        <hr style="width: 100%; background-color: white; margin-bottom: 0%; border: none;">
        <div style="width: 100%; height: 50%; margin-top: 0%;">
            <img class="intexBackgroundImg" style="float: left; width: 50%; border-radius: 0vw 10vw 10vw 0vw;" src="mountain.jpg">
            <div style="width: 40%; float: right; margin-top: 3%; display: flex; justify-content: center; padding-right: 5%;">
                <div>
                    <h2 class="subHead">About the Project</h2>
                    <hr>
                    <p class="homeBodyText">
                        Provomentalhealth.org is a resource to the citizens and leaders of Provo intended to help them
                        make informed decisions for themselves, their families, and their city regarding the use of
                        social media and its impact on mental health. Keep reading for explanation of provomentalhealth.org's
                        various features!
                    </p>
                </div>
            </div>
        </div>
        </div>
        <br><br>
    </div>
    <br><br>
    <div class="pageBody homeBodyText" style="margin-top: 15%;">
       <br><br>
       <h3 class="subSub">Survey</h3>
       <hr class="midLine">
       <p>
            The survey page of provomentalhealth.org features a survey that all visitors to the site can take.
            It's purpose is to gather relevant data regarding the impact of social media on mental health, making
            the project a more accurate and useful tool to those who use it. If you have the time, please
            fill it out to help us improve the lives of Provo's residents!
       </p>
       <br><br>
       <h3 class="subSub">Dashboard</h3>
       <hr class="midLine">
       <p>
            The dashboard provides all visitors to provomentalhealth.org with a comprehensive and insightful
            look into the impact of social media on mental health. Users can filter the dashboard to reflect
            data for their particular demographics and media platforms of interest. If you're wondering how 
            a certain social platform might be effecting your live of the lives of those you care about, the 
            dashboard has the information you're looking for.
       </p>
       <br><br>
       <h3 class="subSub">Resources</h3>
       <hr class="midLine">
       <p>
           The resources page provides links to resources built to help those struggling with their mental health.
           Users are automatically redirected to this page when they submit their survey responses. Please visit this
           page if you or someone you care about are in distress.
       </p>
       <br><br>
    </div>
    
</body>
</html>