<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="pageHeader"><!--header div-->
        <nav class="homeLink"><a href="/IS201/index.html"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
            <a href="/survey">Survey</a>
            <a href="/login">Login</a>
            <a href="/addaccount">Add User</a>
        </nav>
    </div>
    <div>

</body>
</html>