<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="pageHeader"><!--header div-->
        <nav class="homeLink"><a href="/"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
        </nav>
    </div>
    <div class="pageBody">
        <form action="/login" method="post" class="loginForm">
            <fieldset class="loginContainer">
                <legend>Log In</legend>
                <div style="width: 80%;">
                    <label for="user" style="width: 45%;">Username</label>
                    <input type="text" id="user" name="user" >
                    <br><br>
                    <label for="pass" style="width: 45%;">Password</label>
                    <input type="password" id="pass" name="pass">
                    <br><br>
                    <button type="submit">login</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>