<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/login" method="post" class="form-container">
        <fieldset>
            <legend>Login</legend>
            <label for="user">Username</label>
            <input type="text" id="user" name="user">
            <br><br>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass">
            <button type="submit">login</button>
        </fieldset>
    </form>
</body>
</html>