<!--Group 3-5
Authors: Nate Shaw, Zack Bagley, Caleb Gooch, Eli Baker-->
<!--This is the login page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="pageHeader"><!--header div-->
        <nav class="homeLink"><a href="/"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
            <a href="resources">Resources</a>
        </nav>
    </div>
    <!--This form sends the gathered information to the login route-->
    <div class="pageBody homeBodyText" style="display: flex; justify-content: center;">
        <form action="/login" method="post" class="loginForm" style="display: flex; justify-content: center;"">
            <fieldset class="loginContainer">
                <div style="width: 80%;">
                    <h2 class="subHead" style="margin-top: 0vw; margin-bottom: 1.25vw;">Log In</h2>
                    <label for="user" style="width: 45%;">Username</label>
                    <input type="text" class="usernameBox" id="user" name="user" required autofocus>
                    <br><br>
                    <label for="pass" style="width: 45%;">Password</label>
                    <input type="password" id="pass" name="pass" required>
                    <br><br>
                    <button type="submit" class="loginButton">Log In</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>