<!--Group 3-5
Authors: Nate Shaw, Zack Bagley, Caleb Gooch, Eli Baker-->
<!--This page shows some resources from the city of Provo-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />
    <script src="scripts.js"></script>
</head>
<body onload="changeNav()" onresize="changeNav()">
    <div id="navBar" class="fullPageNav"><!--header div-->
        <nav id="homeLink"><a href="/"><span id="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav id="navMenu" class="navPages"  onclick="toggle()">
            <div id="menuLabel">Menu</div><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
            <a href="resources">Resources</a>
        </nav>
    </div>
    <!--This text is several links to mental health resources-->
        <div style="position: absolute; top: 11%; width: 100%;">
       <div class="resback"><h2 class="greenMountainText">Resources</h2></div>
       <div class="resBodyText pageBody">
            <p>
                If you are experiencing a mental health crisis, call or text 988. <a style="color: #DB8C92;" href="https://988lifeline.org/">Click here to learn more about 988.</a>
            </p>
            <br><br><br>
            <p>
                The City of Provo provides mental health resources. <a style="color: #DB8C92;" href="https://211utah.org/resources/mental-health-resources">Click here to see what resources are available.</a>
            </p>
            <br><br><br>
            <p>
                If you are experiencing a very stressful time and are looking for ways to mitigate such feelings. <a style="color: #DB8C92;" href="https://www.cdc.gov/mentalhealth/stress-coping/index.html">Click here for a few tips.</a>
            </p>
            <br><br><br>
            <p>
                For further information, more resources are below
            </p>
            <br>
            <p style="text-align: center;">
                <a style="color: #DB8C92;" href="https://www.nimh.nih.gov/health/publications/depression/index.shtml">Depression</a><br><a style="color: #DB8C92;" href="https://adaa.org/">Anxiety</a><br><a style="color: #DB8C92;" href="https://nami.org/About-Mental-Illness/Mental-Health-Conditions/ADHD">ADHD</a>
            </p>

       </div>
       <br><br><br><br>
    </div>
</body>
</html>