<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Survey</title>
</head>
<body>
    <form action="formDataUpdate" method="POST">
        <fieldset style="width: 0px;">
            <!-- 
                Survey Questions
                    1. Age
                    2. Gender
                    3. Relationship status
                    4. Occupation status
                    5. What type of organizations are you affiliated with?
                    6. Do you use social media?
                    7. What social media platforms do you commonly use?
                    8. What is the average time you spend on social media every day?
                    9. How often do you find yourself using social media without a specific purpose?
                    10. How often do you get distracted by social media when you are busy doing something?
                    11. Do you feel restless if you haven’t used social media in a while?
                    12. How easily distracted are you?
                    13.How much are you bothered by worries?
                    14. Do you find it difficult to concentrate on things?
                    15. How often do you compare yourself to other successful people through the use of social media?
                    16. Following the previous question, how do you feel about these comparisons, generally speaking?
                    17. How often do you look to seek validation from features of social media?
                    18. How often do you feel depressed or down?
                    19. How frequently does your interest in daily activities fluctuate?
                    20. How often do you face issues regarding sleep?
            -->
            <legend>Social Media Use Survey</legend>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyGender">2. What is your gender?</label>
            <select id="surveyGender" name="surveyGender">
                <option value="1" >Male</option>
                <option value="2">Female</option>
                <option value="3">Non-binary</option>
                <option value="4">Transgender</option>
                <option value="5">Other</option>
            </select>
            <br><br>
            <label for="surveyRelStat">2. What is your relationship status?</label>
            <!--
                surveyRelStat options:
                in a relationship
                single
                married
                divorced
            -->
            <select id="surveyRelStat" name="surveyAge">
                <option value="1">Single</option>
                <option value="2">In a relationship</option>
                <option value="3">Married</option>
                <option value="4">Divorced</option>
            </select>
            <br><br>
            <label for="surveyOccStat">4. What is your occupation status?</label>
            <select id="surveyOccStat" name="surveyOccStat">
                <option value="1">University Student</option>
                <option value="2">School Student</option>
                <option value="3">Salaried Worker</option>
                <option value="4">Retired</option>
                <option value="5">Unemployed</option>
            </select>
            <br><br>
            <label for="surveyOrgs">5. What type of organizations are you affiliated with?</label>
            <fieldset id="surveyOrgs" name="surveyOrgs">
                <input type="checkbox" id="uniAff" name="uniAff" value="Y">
                <label for="uniAff">University</label>
                <br>
                <input type="checkbox" id="privAff" name="privAff" value="Y">
                <label for="privAff">Private</label>
                <br>
                <input type="checkbox" id="schAff" name="schAff" value="Y">
                <label for="schAff">School</label>
                <br>
                <input type="checkbox" id="comAff" name="comAff" value="Y">
                <label for="comAff">Company</label>
                <br>
                <input type="checkbox" id="govAff" name="govAff" value="Y">
                <label for="govAff">Government</label>
                <br>
                <input type="checkbox" id="noAff" name="noAff" value="Y">
                <label for="noAff">N/A</label>
                <br>
            </fieldset>
            <br><br>
            <label for="surveySocUse">6. Do you use social media?</label>
            <select id="surveySocUse" name="surveySocUse">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
            <br><br>
            <label for="surveySocPlats">7. What social media platforms do you commonly use?</label>
            <fieldset id="surveySocPlats" name="surveySocPlats">
                <input type="checkbox" id="facebook" name="facebook" value="Y">
                <label for="facebook">Facebook</label>
                <br>
                <input type="checkbox" id="twitter" name="twitter" value="Y">
                <label for="twitter">Twitter/X</label>
                <br>
                <input type="checkbox" id="instagram" name="instagram" value="Y">
                <label for="instagram">Instagram</label>
                <br>
                <input type="checkbox" id="youtube" name="youtube" value="Y">
                <label for="youtube">YouTube</label>
                <br>
                <input type="checkbox" id="discord" name="discord" value="Y">
                <label for="discord">Discord</label>
                <br>
                <input type="checkbox" id="reddit" name="reddit" value="Y">
                <label for="reddit">Reddit</label>
                <br>
                <input type="checkbox" id="reddit" name="reddit" value="Y">
                <label for="reddit">Reddit</label>
                <br>
                <input type="checkbox" id="tiktok" name="tiktok" value="Y">
                <label for="tiktok">TikTok</label>
                <br>
                <input type="checkbox" id="snapchat" name="snapchat" value="Y">
                <label for="snapchat">Snapchat</label>
                <br>
            </fieldset>
            <br><br>
            <label for="surveyAvgTime">8. What is the average time you spend on social media every day?</label>
            <fieldset id="surveyAvgTime" name="surveyAvgTime">
                <input type="radio" name="avgTime" id="avgTime1" value="1">
                <label for="avgTime1">Less than 1 hour</label>
                <br>
                <input type="radio" name="avgTime" id="avgTime2" value="2">
                <label for="avgTime2">Between 1 and 2 hours</label>
                <br>
                <input type="radio" name="avgTime" id="avgTime3" value="3">
                <label for="avgTime3">Between 2 and 3 hours</label>
                <br>
                <input type="radio" name="avgTime" id="avgTime4" value="4">
                <label for="avgTime4">Between 3 and 4 hours</label>
                <br>
                <input type="radio" name="avgTime" id="avgTime5" value="5">
                <label for="avgTime3">Between 4 and 5 hours</label>
                <br>
                <input type="radio" name="avgTime" id="avgTime6" value="6">
                <label for="avgTime3">More than 5 hours</label>
                <br>
            </fieldset>
            <br><br>
            <label for="surveyNoPurpose">9. How often do you find yourself using social media without a specific purpose?</label>
            <select id="surveyNoPurpose" name="surveyNoPurpose">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyDistract">10. How often do you get distracted by social media when you are busy doing something?</label>
            <select id="surveyDistract" name="surveyDistract">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyRestless">11. Do you feel restless if you haven’t used social media in a while?</label>
            <select id="surveyRestless" name="surveyRestless">
                <option value="1">Not at all</option>
                <option value="2">Slightly</option>
                <option value="3">Moderately</option>
                <option value="4">Quite a bit</option>
                <option value="5">Extremely</option>
            </select>
            <br><br>
            <label for="surveyEasyDistract">12. How easily distracted are you?</label>
            <select id="surveyEasyDistract" name="surveyEasyDistract">
                <option value="1">Not at all</option>
                <option value="2">Slightly</option>
                <option value="3">Moderately</option>
                <option value="4">Quite a bit</option>
                <option value="5">Extremely</option>
            </select>
            <br><br>
            <label for="surveyWorries">13. How much are you bothered by worries?</label>
            <select id="surveyWorries" name="surveyWorries">
                <option value="1">Not at all</option>
                <option value="2">Slightly</option>
                <option value="3">Moderately</option>
                <option value="4">Quite a bit</option>
                <option value="5">Extremely</option>
            </select>
            <br><br>
            <label for="surveyConc">14. Do you find it difficult to concentrate on things?</label>
            <select id="surveyConc" name="surveyConc">
                <option value="1">Not at all</option>
                <option value="2">Slightly</option>
                <option value="3">Moderately</option>
                <option value="4">Quite a bit</option>
                <option value="5">Extremely</option>
            </select>
            <br><br>
            <label for="surveyComp">15. How often do you compare yourself to other successful people through the use of social media?</label>
            <select id="surveyComp" name="surveyComp">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyCompFeel">16. Following the previous question, how do you feel about these comparisons, generally speaking?</label>
            <select id="surveyCompFeel" name="surveyCompFeel">
                <option value="1">Very Poor</option>
                <option value="2">Poor</option>
                <option value="3">Neutral</option>
                <option value="4">Good</option>
                <option value="5">Very Good</option>
            </select>
            <br><br>
            <label for="surveyValid">17. How often do you look to seek validation from features of social media?</label>
            <select id="surveyValid" name="surveyValid">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyDepression">18. How often do you feel depressed or down?</label>
            <select id="surveyDepression" name="surveyDepression">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyInterest">19. How frequently does your interest in daily activities fluctuate?</label>
            <select id="surveyInterest" name="surveyInterest">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveySleep">20. How often do you face issues regarding sleep?</label>
            <select id="surveySleep" name="surveySleep">
                <option value="1">Rarely</option>
                <option value="2">Occasionally</option>
                <option value="3">Sometimes</option>
                <option value="4">Frequently</option>
                <option value="5">Always</option>
            </select>
            <br><br>
            <label for="surveyCity">21. Do you live in Provo?</label>
            <select id="surveyCity" name="surveyCity">
                <option value="2">Yes</option>
                <option value="3">No</option>
            </select>
            <br><br>
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>
