<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Survey</title>
</head>
<body>
    <form action="formDataUpdate" method="POST">
        <fieldset style="width: 0px;">
            <!-- 
                Survey Questions
                    1. Age
                    2. Gender
                    3. Relationship status
                    4. Occupation status
                    5. What type of organizations are you affiliated with?
                    6. Do you use social media?
                    7. What social media platforms do you commonly use?
                    8. What is the average time you spend on social media every day?
                    9. How often do you find yourself using social media without a specific purpose?
                    10. How often do you get distracted by social media when you are busy doing something?
                    11. Do you feel restless if you haven’t used social media in a while?
                    12. How easily distracted are you?
                    13.How much are you bothered by worries?
                    14. Do you find it difficult to concentrate on things?
                    15. How often do you compare yourself to other successful people through the use of social media?
                    16. Following the previous question, how do you feel about these comparisons, generally speaking?
                    17. How often do you look to seek validation from features of social media?
                    18. How often do you feel depressed or down?
                    19. How frequently does your interested in daily activities fluctuate?
                    20. How often do you face issues regarding sleep?
            -->
            <legend>Social Media Use Survey</legend>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyGender">2. What is your gender?</label>
            <select id="surveyGender" name="surveyGender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="trans">Transgender</option>
                <option value="nb">Non-binary</option>
                <option value="other">Other</option>
            </select>
            <br><br>
            <label for="surveyRelStat">2. What is your relationship status?</label>
            <!--
                surveyRelStat options:
                in a relationship
                single
                married
                divorced
            -->
            <select id="surveyRelStat" name="surveyAge">
                <option value="inRel">In a relationship</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
            </select>
            <br><br>
            <label for="surveyOccStat">4. What is your occupation status?</label>
            <select id="surveyOccStat" name="surveyOccStat">
                <option value="uniStu">University Student</option>
                <option value="schStu">School Student</option>
                <option value="salaried">Salaried Employee</option>
                <option value="unemployed">Unemployed</option>
                <option value="retired">Retired</option>
            </select>
            <br><br>
            <label for="surveyOrgs">5. What type of organizations are you affiliated with?</label>
            <fieldset id="surveyOrgs" name="surveyOrgs">
                <label for="uniAff">University</label>
                <input type="checkbox" id="uniAff" name="uniAff" value="uniAff">
                <br>
                <label for="privAff">Private</label>
                <input type="checkbox" id="privAff" name="privAff" value="privAff">
                <br>
                <label for="schAff">School</label>
                <input type="checkbox" id="schAff" name="schAff" value="schAff">
                <br>
                <label for="comAff">Company</label>
                <input type="checkbox" id="comAff" name="comAff" value="comAff">
                <br>
                <label for="govAff">Government</label>
                <input type="checkbox" id="govAff" name="govAff" value="govAff">
                <br>
                <label for="noAff">N/A</label>
                <input type="checkbox" id="noAff" name="noAff" value="noAff">
                <br>
            </fieldset>
            <br><br>
            <label for="surveySocUse">6. Do you use social media?</label>
            <select id="surveySocUse" name="surveySocUse">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
            <br><br>
            <label for="socPlats">7. What social media platforms do you commonly use?</label>
            <fieldset id="socPlats" name="socPlats">
                <label for="facebook">Facebook</label>
                <input type="checkbox" id="facebook" name="facebook">
                <br>
                <label for="privAff">Private</label>
                <input type="checkbox" id="privAff" name="privAff">
                <br>
                <label for="schAff">School</label>
                <input type="checkbox" id="schAff" name="schAff">
                <br>
                <label for="comAff">Company</label>
                <input type="checkbox" id="comAff" name="comAff">
                <br>
                <label for="govAff">Government</label>
                <input type="checkbox" id="govAff" name="govAff">
                <br>
                <label for="noAff">N/A</label>
                <input type="checkbox" id="noAff" name="noAff">
                <br>
            </fieldset>
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>
            <label for="surveyAge">1. What is your age in years?</label>
            <input type="text" id="surveyAge" name="surveyAge">
            <br><br>

        </fieldset>
    </form>
</body>
</html>