<!--Group 3-5
Authors: Nate Shaw, Zack Bagley, Caleb Gooch, Eli Baker-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Authorized</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />
    <script src="scripts.js"></script>
</head>
<body onload="changeNav()" onresize="changeNav()">
    <div id="navBar" class="fullPageNav" onclick="toggle()"><!--header div-->
        <nav id="homeLink"><a href="/"><span id="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav id="navMenu" class="navPages">
            <div id="menuLabel">Menu</div><!--nav to pages-->
            <a href="survey">Survey</a>
            <a href="dashboard">Dashboard</a>
            <a href="login">Login</a>
            <a href="addaccount">Add User</a>
            <a href="report">Report</a>
            <a href="resources">Resources</a>
        </nav>
    </div>
    <!--This page is sent when someone accesses the report or add user when not signed in-->
    <!--It provides options to sign in or return to the homepage-->
    <div class="pageBody">
        <h1 class="head">You are not authorized to view this page.</h1>
        <br>
        <form action="/login" method="get" class="form-container">
                <button type="submit" style="width: 100%;">Login</button>
        </form>
        <br>
        <form action="/l" method="get" class="form-container">
            <button type="submit" style="width: 100%;">Homepage</button>
    </form>
    </div>
</body>
</html>