html{
  height: 100%;
  width: 100%;
}

body{
  height:100%;
margin: 0px;
padding: 0px;
width: 100%;
}

.loginBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.loginForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  margin: 5%;
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 300px;
  height: 40%;
  padding: 5%;
  text-align: left;
}

.subHead {
color: black;
font-family: "Montserrat", Arial, sans-serif;
font-size: 40px;
font-weight: 400;
margin-bottom: 0;
text-align: center;
}

.padLeft {
padding-left: 20px;
}

.padTop{
padding-top: 2vw;
}

.padBottom{
padding-bottom: 2.5vw;
}


.padAllMin{
padding: 2vw;
}

.padAllMid{
padding: 4vw;
}

.margAllMid{
margin: 4vw;
}

.subSub {
color: black;
font-family: "Montserrat", Arial, sans-serif;
font-size: 30px;
font-weight: 300;
text-align: center;
}

.tripleSub{
color: black;
font-family: "Montserrat", Arial, sans-serif;
font-size: 20px;
font-weight: 200;
text-align: center;
}


.pageList{
color: black;
font-family: "Montserrat", Arial, sans-serif;
font-size: 30px;
font-weight: 100;
padding-left: 75px;
margin-top: 0;
}

a{
text-decoration:none;
color: inherit;
}

.head {
font-size: 5vw;
font-family: "Montserrat", Arial, sans-serif;
font-weight: 300;
color: black;
padding: 5%;
vertical-align: 50%;
text-align: center;
}


.secHead {
font-family: "Montserrat", Arial, sans-serif;
color: rgb(255, 255, 255);
height: 100px;
line-height: 100px;
font-size: 300%;
font-weight: 100;
margin: 0;
padding-left: 20px;
position: relative;
font-weight:100;
width: 200%;
}

.icon{
height:1.5vw;
vertical-align: middle;
}

.button {
background-color: white;
color: black;
font-family: "Montserrat", Arial, sans-serif;
padding: 20px;
text-align: center;
text-decoration: none;
font-size: 25px;
font-weight: 100;
}

.subtitle {
color: gray;
font-size: 15px;
font-style: italic;
font-family: "Times New Roman", Times, serif;
text-align: center;
}

.alignLeft {
text-align: left;
}
.alignCenter{
text-align: center;
}

.inLine{
display:inline-block;
}

.homeBodyText {
color: gray;
font-size: 18px;
font-family: "Times New Roman", Times, serif;
}

.pageBodyText{
color: black;
font-size: 18px;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: left;
}

.pageHeader{
padding-left: 10%;
padding-right: 10%;
background-color: black;
height: 11%;
top: 0%;
color:rgb(255, 255, 255);
width:80%;
}

.pageBody{
padding-left: 25%;
padding-right: 25%;
padding-top: 1%;
padding-bottom: 15%;
}

ul{
display:inline-block;
text-align: left;
padding-top:0;
margin-top: 0;
padding-left:1.25vw;
}

p{
text-align: left;
display:inline-block;
}

.table{
width: 50%;
}

ol{
    display:inline-block;
    text-align: left;
    margin-top: 0;

}

.midLine{
width: 30%;
color: gray;
}

.slightBold{
font-weight: 300
}

.resback{
padding-top: 9.25vw;
padding-bottom: 9.25vw;
color: #fff;
background-image: url("mountain2.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
height: 32vw;
}
.homeLink{
font-family: "Montserrat", Arial, sans-serif;
width:40%;
text-align: left;
display: inline-block;
vertical-align: middle;
}

.navPages{
font-family: "Montserrat", Arial, sans-serif;
margin-top: 2vw;
margin-bottom: 2vw;
height: 2vw;
width:60%;
text-align: right;
display: inline-block;
font-size: 1.5vw;
font-weight: 300;
vertical-align: middle;
}
.navPages a{
padding-left: 1vw;
vertical-align: middle;
font-weight: 100;
}
.logo{
width: 100%;
display: inline-block;
  font-size: 200%;
font-weight: 200;
}
.socialIconsRow{
vertical-align: 25%;
text-align: center;
}
.socialIcon{
width: 5vw;
}
h3{
padding:0;
margin: 0;
}
p{
margin: 0.25vw;
}
h4{
margin: 0;
}

.black{
color:black;
}

button {
background-color: #DB8C92;
color: white;
border: 2px solid #DB8C92;
border-radius: 0;
height: 3vw;
font-size: 1vw;
font-family: "Montserrat", Arial, sans-serif;
}

.loginButton{
  background-color: #DB8C92;
  color: white;
  border: 2px solid #DB8C92;
  border-radius: 0;
  height: 20%;
  margin-bottom: 5%;
  font-size: 100%;
  width: 100%;
  font-family: "Montserrat", Arial, sans-serif;
}

button:hover {
background-color: white;
color: #DB8C92;
border: 2px solid #DB8C92;
border-radius: 0;
cursor: pointer;
}

input[type=text] {
box-sizing: border-box;
padding: 0.5vw;
background-color: white;
color: gray;
border: 0.1vw solid #DB8C92;
border-radius: 0;
height: 3.5vh;
width: 10vw;
}
/* Style for checkboxes */
input[type="checkbox"] {
box-sizing: border-box;
padding: 0.4vw; /* Adjust padding as needed */
border: 0.1vw solid #DB8C92;
border-radius: 0.2vw; /* Adjust border-radius for rounded corners */
width: 1vw; /* Adjust the width as needed */
height: 1vw; /* Adjust the height as needed */
appearance: none; /* Remove default appearance */
outline: none;
position: relative;
vertical-align: middle; /* Align checkboxes to the middle */
}

/* Style for checked checkboxes */
input[type="checkbox"]:checked {
background-color: #DB8C92; /* Change to the desired color */
border-color: #DB8C92; /* Change to the desired color */
}

/* Style for checkmark in checked state */
input[type="checkbox"]:checked::before {
content: '\2713'; /* Checkmark character */
color: white; /* Change to the desired color */
display: block;
text-align: center;
line-height: 1vw; /* Adjust line-height for proper vertical alignment */
font-size: 0.8vw; /* Adjust font-size for checkmark size */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* Style for radio buttons */
input[type="radio"] {
box-sizing: border-box;
margin: 0;
padding: 0;
appearance: none;
border: 0.1vw solid #DB8C92;
border-radius: 50%; /* Make it circular */
width: 1vw; /* Adjust width as needed */
height: 1vw; /* Adjust height as needed */
vertical-align: middle;
}

/* Style for checked radio buttons */
input[type="radio"]:checked {
background-color: #DB8C92;
}


select {
box-sizing: border-box;
background-color: white;
color: gray;
border: 0.1vw solid #DB8C92;
border-radius: 0;
height: 1.5vw; /* Adjust the height as needed */
width: 10vw;
font-size: .8vw; /* Adjust the font size as needed */
}

select option:checked {
color: #DB8C92; /* Change to the desired color */
}

select option {
font-size: 0.8vw; /* Adjust the font size as needed */
}


input[type=number] {
box-sizing: border-box;
padding: 0.5vw;
background-color: white;
color: gray;
border: 0.1vw solid #DB8C92;
border-radius: 0;
height: 0.4vw;
width: 10vw;
}
/* Style for checkboxes */
input[type="checkbox"] {
box-sizing: border-box;
padding: 0.4vw; /* Adjust padding as needed */
border: 0.1vw solid #DB8C92;
border-radius: 0.2vw; /* Adjust border-radius for rounded corners */
width: 1vw; /* Adjust the width as needed */
height: 1vw; /* Adjust the height as needed */
appearance: none; /* Remove default appearance */
outline: none;
position: relative;
vertical-align: middle; /* Align checkboxes to the middle */
}

/* Style for checked checkboxes */
input[type="checkbox"]:checked {
background-color: #DB8C92; /* Change to the desired color */
border-color: #DB8C92; /* Change to the desired color */
}

/* Style for checkmark in checked state */
input[type="checkbox"]:checked::before {
content: '\2713'; /* Checkmark character */
color: white; /* Change to the desired color */
display: block;
text-align: center;
line-height: 1vw; /* Adjust line-height for proper vertical alignment */
font-size: 0.8vw; /* Adjust font-size for checkmark size */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* Style for radio buttons */
input[type="radio"] {
box-sizing: border-box;
margin: 0;
padding: 0;
appearance: none;
border: 0.1vw solid #DB8C92;
border-radius: 50%; /* Make it circular */
width: 1vw; /* Adjust width as needed */
height: 1vw; /* Adjust height as needed */
vertical-align: middle;
}

/* Style for checked radio buttons */
input[type="radio"]:checked {
background-color: #DB8C92;
}


select {
box-sizing: border-box;
background-color: white;
color: gray;
border: 0.1vw solid #DB8C92;
border-radius: 0;
height: 1.5vw; /* Adjust the height as needed */
width: 10vw;
font-size: .8vw; /* Adjust the font size as needed */
}

select option:checked {
color: #DB8C92; /* Change to the desired color */
}

select option {
font-size: 0.8vw; /* Adjust the font size as needed */
}


.usernameBox {
  float: right;
  height: 3vw;
}

input[type=password] {
box-sizing: border-box;
padding: 0.5vw;
background-color: white;
color: #DB8C92;
border: 0.1vw solid #DB8C92;
border-radius: 0;
height: 12%;
width: 10vw;
float: right;
}

input[type=text]:focus {
outline: none;
background-color: white;
color: gray;
border: 0.2vw solid #DB8C92;
border-radius: 0;
}

input[type=number]:focus {
outline: none;
background-color: white;
color: gray;
border: 2px solid #DB8C92;
border-radius: 0;
}

select:focus {
outline: none;
background-color: white;
color: gray;
border: 2px solid #DB8C92;
border-radius: 0;
font-size: 0.8vw;
}

input[type=password]:focus {
outline: none;
background-color: white;
color: #DB8C92;
border: 0.2vw solid #DB8C92;
border-radius: 0;
}

.diceContainer {
display: flex;
justify-content: center; 
flex-wrap: wrap;
}

article {
display: flex;
justify-content: space-between;
}

.customer {
width: 75%;
text-align: left;
}

.burgerNum {
width: 25%;
text-align: right;
}

.burgerOutput {
padding-right: 65%;
}

form {
margin-left: 2vw;
}

table{
width: 100vw; 
height: 100vh;
background-color: white; 
border: 2px solid black;
}

th{
background-color: #333333;
color: white;
text-align: center;
font-family: "Montserrat", Arial, sans-serif;
font-size: 15px;
padding: 4px;
font-weight: normal;
position: sticky;
top: 0; 
z-index: 1;
}

td{
text-align: center;
font-family: "Montserrat", Arial, sans-serif;
font-size: 9px;
padding: 4px;
}

tr:nth-child(even) {
background-color: #f2f2f2; 
}

.tableContainer{
overflow-x: auto;
overflow-y: auto;
width: 96vw;
max-height: 35vw;
margin-left: 2vw;
margin-right: 2vw;
}

.tableContainer::-webkit-scrollbar {
width: 12px;
}

.tableContainer::-webkit-scrollbar-thumb {
background-color: #888;
}

.tableContainer::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.formfieldset {
border: none; /* Remove the border */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
padding: 20px; /* Add padding inside the fieldset if needed */
margin: 0; /* Reset margin */

}

#intexBanner {
    margin-top: 0%;
    margin-bottom: 4.87%;
    font-size: 4vw;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    width:40%;

    text-align: center;
    color: black;
}

input[type="submit"] {
background-color: #DB8C92; /* Green background color */
color: white; /* White text color */
padding: 10px 20px; /* Padding around the text */
border: none; /* No border */
border-radius: 5px; /* Rounded corners */
cursor: pointer; /* Cursor on hover */
font-size: 12px; /* Font size */
font-weight: bold; /* Bold text */

}

input[type="submit"]:hover {
background-color: #db7e86; /* Darker green on hover */
}

.intexBackgroundImg {
  width: 50%;
}

#landingWelcome {
  width: 100%;

  margin-bottom: 10%;
}


input[type="submit"] {
background-color: #DB8C92; /* Green background color */
color: white; /* White text color */
padding: 10px 20px; /* Padding around the text */
border: none; /* No border */
border-radius: 5px; /* Rounded corners */
cursor: pointer; /* Cursor on hover */
font-size: 12px; /* Font size */
font-weight: bold; /* Bold text */

}

input[type="submit"]:hover {
background-color: #db7e86; /* Darker green on hover */
}

.resBodyText {
color: gray;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
text-align: center;
margin-top: 4vw;
margin-bottom: 5vw;
}

.greenMountainText {
color: white; /* Set text color */
font-weight: normal;
font-family: "Montserrat", Arial, sans-serif;
font-size: 40px; /* Adjust font size */
position: absolute; /* Position the text absolutely on the image */
top: 20vh; /* Adjust the vertical position from the top */
left: 50vw; /* Adjust the horizontal position from the left */
transform: translate(-50%, -50%); /* Center the text using transform */
text-align: center; /* Center-align the text */
background-color: rgba(128, 128, 128, 0.65); /* Gray background with some transparency */
padding: 20px; /* Add padding for better readability */
}

@media screen and (max-width: 600px) {
    #landingWelcome {
      width: 100%;
      margin-bottom: 10%;
  }

  .intexBackgroundImg {
      width: 90%;
  }

  #intexBanner {
      margin-top: 0%;
      margin-bottom: 4.87%;
      font-size: 4vw;
      font-family: "Montserrat", Arial, sans-serif;
      font-weight: 300;
      padding-right: 10vw;
      padding: 10vw;
      width:100%;
      text-align: center;
      color: black;
  }

  .head {
    font-size: 5vw;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    color: black;
    padding: 5%;
    vertical-align: 50%;
    text-align: center;
  }

  .subHead {
    color: black;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
  }

  .homeBodyText {
    color: gray;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
}